body{
    background-color: whitesmoke;
}

header{
    background-color:gray;
    color:azure;
    padding: 10px;
    
}

nav{
    text-align: center;
}

h1{
    text-align:center;
}

p{
    text-align: center;
}

footer{
    color:black;
    text-align: left;
    
}
#darkmodebutton{
    background:none;
    margin:none;
    border-color:none;
    border:none;
    float:right;
    

}
#darkmodebutton:hover{
    cursor:pointer;
}

.dark-mode {
    background-color: black;
    color:aliceblue;
}

.button{
    margin:auto;
    width: 33%;
    background: none;
    color:inherit;
    border-top:none;
    border-bottom:none;
    padding:0;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: darkgray;
    cursor:pointer;
}
#slideshow{
    width:100%;
    max-width: 1786px;
    max-height:852px;
}
