body{
    background-color: whitesmoke;
}

header{
    background-color:gray;
    color:azure;
    padding: 10px;
    
}
#splashText{
    color:yellow;
    display:inline-flex;
    position:absolute;
    right:32%;
    top:12%;
    text-align:right;
    animation-name: splashAnimations;
    animation-duration: 3s;
    animation-iteration-count: 999;
}

@keyframes splashAnimations{
    0%{
        font-size: 1.1rem;
        transform: rotate(-4deg);
    }
    50%{
        font-size: 1.2rem;
    }
    100%{
        font-size: 1.1rem;
        transform: rotate(-4deg);
    }
}

nav{
    text-align: center;
}

h1{
    text-align:center;
}

p{
    text-align: center;
}

footer{
    color:black;
    text-align: left;
    
}
#darkmodebutton{
    background:none;
    margin:none;
    border-color:none;
    border:none;
    float:right;
    

}
#darkmodebutton:hover{
    cursor:pointer;
}

.dark-mode {
    background-color: black;
    color:aliceblue;
}

.button{
    margin:auto;
    width: 33%;
    background: none;
    color:inherit;
    border-top:none;
    border-bottom:none;
    padding:0;
    transition-duration: 0.5s;
}
.button:hover {
    background-color: darkgray;
    cursor:pointer;
}

#slideshowContainer{
    position: relative;
}

#slideshow{
    border-color:black;
    border-radius: 5%;
    width:100%;
    max-width: 1786px;
    height: 50%
}

#slideshowCaption{
    position: absolute;
    right:45%;
    bottom:5%;
    text-align:center;
}
