body{
    background-color: whitesmoke;
}

header{
    background-color:gray;
    color:azure;
    padding: 10px
}

nav{
    padding: 5px;
    text-align: center;
}

h1{
    text-align:center;
}

p{
    text-align: center;
}

footer{
    color:black;
}

.dark-mode {
    background-color: black;
    color:aliceblue;
}

